<h1>Editing disciplica</h1>

<%= render "form", disciplica: @disciplica %>

<br>

<div>
  <%= link_to "Show this disciplica", @disciplica %> |
  <%= link_to "Back to disciplicas", disciplicas_path %>
</div>
